.mobile-toggle {
    display: none;
}

.mobile-toggle__bar {
    width: 2.5rem;
    height: 4px;
    background: white;
}

/* .toggle-button {
    display: none;
} */

/* @media (max-width: 550px) {
    .toggle-button {
        display: block;
    }
} */

@media (max-width: 550px) {
    .mobile-toggle {
        background: transparent;
        border: none;
        display: flex;
        width: 2.5rem;
        height: 80%;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer;
        padding: 0;
        margin-right: 1rem;
    }
}
